header {
  background-color: #001b64;
  color: aliceblue;
}

.box {
  width:100%;

  padding: 10px;
}


#backgroundskexp{
  background-color: #001b64;
  color: aliceblue;
  width: 100%;
}

#send{
  padding-top: 25px;
}

#submit{
  width: 20%;
  background-color: #001b64;
}
